<nav class="tabs-nav">
  <a href="/" class="active"><i class="tab-icon"></i> ¿Qué es?</a>
  <a href="/anuncios/">Anuncios</a>
  <a href="/eventos/">Eventos</a>
  <a href="/foro/">Foro</a>
  <a href="/estudiantes/">Estudiantes</a>
  <a href="/challenges/">Retos</a>
  <a href="/challenges/create/">Entregar Reto</a>
  <a href="/polls/">Encuestas</a>
  <a href="/album/">Insignias</a>
  <div class="dropdown">
    <a href="#">Documentos ▾</a>
    <div class="dropdown-menu">
      <a href="/repositorio/">Repositorio</a>
      <a href="#">Nuestro Himno</a>
      <a href="https://www.dropbox.com/login" target="_blank">Ir a Dropbox</a>
    </div>
  </div>
  <a href="/admin/">Admin</a>
</nav>
